@import '~antd/dist/antd.css';

.site-header {
  padding: 0 24vw;
  /* height: 232px; */
  height: 213px;
  text-align: center;
  line-height: 42px;
}
.site-content {
  padding: 0 50px;
  text-align: right;
}
.site-content > div {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.site-footer {
  text-align: center;
}
.image-responsive {
  display: flex;
  justify-content: center;
  align-content: center;
}
.image-responsive > img {
  cursor: pointer;
  height: auto;
  width: 100%;
}
.info-card {
  width: 350px
}
@media only screen and (max-width: 576px) {
  .site-header {
    height: 211.5px;
    padding: 0 8vw;
  }
  .info-card {
    width: 300px
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .site-header {
    padding: 0 16vw;
  }
}
